@import "../variables.module.scss";

.contact-div {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../../../public/img/bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  .head {
    height: 100%;
    display: flex;
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      p {
        width: 70%;
        text-align: center;
      }
      .button {
        color: $secondary-color;
        padding: 10px 20px;
        border-color: $secondary-color;
        &:hover,
        &:focus,
        &:active {
          outline: none !important;
          box-shadow: none !important;
          background-color: transparent !important;
          color: $primary-color !important;
          border-color: $primary-color !important;
          transition: all 0.3 ease-in-out;
        }
      }
    }
  }
  .footer {
    position: relative;
    font-size: 12px;
    bottom: -50px;
    color: rgb(189, 189, 189);
  }
}
